<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    {#<link rel="stylesheet" href="https://v40.pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>#}
    <link rel="stylesheet" href="{{ asset('public/node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <title>{% block title %}Witamy!{% endblock %}</title>
<body>
<div class="py-5 text-center opaque-overlay" style="background-image: url({{ asset('images/library.jpg') }});">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-white">
                <h1 class="display-3 mb-4">Biblioteka Online</h1>
                <p class="lead mb-5">Non scholae sed vitae discimus</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="m-0 container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="{{ path('homepage') }}" class="active nav-link"><i class="fa fa-home fa-home"></i>&nbsp;Strona główna</a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_ADMIN') %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('book_index') }}">Książki</a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('adminpanel') }}">Panel administratora</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('rental_index') }}">Wypożyczenia</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link">
                            <br>Zalogowano jako<br>
                            {{ app.user.getFirstname() }} {{  app.user.getLastname() }}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{{ 'Wyloguj'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'Zaloguj'|trans({}, 'FOSUserBundle') }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_registration_register') }}">{{ 'Rejestracja'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-10">
                {% block content %}
                <div class="row">
                    <div class="col-md-12">
                        <h1 class=""></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-justify">
                        <p class=""></p>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="py-xl-5"></div>
{#<div class="py-1 bg-dark text-white" style=" position: absolute; right: 0; bottom: 0; left: 0; padding: 1rem;">#}
<div class="py-1 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 text-center">
                <p>© Copyright 2017 Tomasz Tomala - All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>

