{% extends 'base.html.twig' %}

{% block content %}
    <h1>Lista książek</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tytuł</th>
                {#<th>Amount</th>#}
                <th>Autor</th>
                <th>Kategoria</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                {#<td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>#}
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                {#<td>{{ book.amount }}</td>#}
                <td>{{ book.author.getFirstName() }} {{ book.author.getLastName() }}</td>
                <td>{{ book.category.getName() }}</td>
                <td>
                    <ul>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">Pokaż</a>
                        </li>
                        <li>
                        <a href="{{ path('book_edit', { 'id': book.id }) }}">Edytuj</a>
                        </li>
                        {% else %}
                        <li>
                        <a href="{{ path('rental_index') }}">Wypożycz</a>
                        </li>
                        {%  endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('book_new') }}">Dodaj książkę</a>
        </li>
    </ul>
    {%  endif %}
{% endblock %}
