{% extends 'base.html.twig' %}

{% block content %}
    <h1>Lista wydawnictw</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for publisher in publishers %}
            <tr>
                <td><a href="{{ path('publisher_show', { 'id': publisher.id }) }}">{{ publisher.id }}</a></td>
                <td>{{ publisher.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('publisher_show', { 'id': publisher.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('publisher_edit', { 'id': publisher.id }) }}">Edycja</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publisher_new') }}">Dodaj nowe wydawnictwo</a>
        </li>
    </ul>
{% endblock %}
